@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
--primary-Dark-cyan: hsl(185, 75%, 39%);
---primary-Very-dark-desaturated-blue: hsl(229, 23%, 23%);
---primary-Dark-grayish-blue: hsl(227, 10%, 46%);
--neutral-Dark-gray: hsl(0, 0%, 59%);

--font-family: 'Kumbh Sans', sans-serif;
--fw-regular: 400;
--fw-bold: 700;
}

* {
    margin: 0;
    
}
.container {
    background-color: white;
    width: 375px;
    border-radius: 1rem;
    z-index: 1;
    height: 405px;
    box-shadow: 0px 3px 20px 5px  rgba(0, 0, 0, 0.15);
    
    
}

body {
    background-color: var(--primary-Dark-cyan);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    color: var(---primary-Very-dark-desaturated-blue);
    margin-top: 2.5rem;
    
}
.upper {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    margin-top: -2rem;
    
}
.location {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    color: var(---primary-Dark-grayish-blue);
    line-height: 2.5;
    
    
    
}
.bg-card {
   
    width: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    
    

}
.profile {
    position: relative;
    left: 35%;
    bottom: 13%;
    border-radius: 50%;
    border: 5px solid white;
    z-index: 1;
    
    
}
h1 {
    font-size: 1.2rem;
    color: var(---primary-Very-dark-desaturated-blue);
    
}
p {
    color: var(---primary-Dark-grayish-blue);
    font-size: 0.6rem;
    font-weight: 200;
    line-height: 2.5;
    letter-spacing: 2px;

}
h2 {
    font-weight: 100;
    font-size: 0.95rem;
}

.item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    
}
.item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.7rem;
    
    
}
#age {
    font-weight: 200;
    color: var(---primary-Dark-grayish-blue);
    margin-left: 0.7rem;

}
.top {
    position: absolute;
    right: 50%;
    bottom: 35%;
    z-index: -1;
    width: 60%;

}
.bottom {
    position: fixed;
    left: 40%;
    top: 53%;
    z-index: -1;
    width: 80%;

}

@media only screen and (max-width:500px) {
    .location {
        border: none;
        border-bottom: 1px solid ;
        border-color: hsl(0, 1%, 85%);
        padding-bottom: 1rem;
        
    }
    .item {
        margin-top: 1.5rem;
    }
    .top {
        bottom: 65%;
        width: 120%;


    }
    .bottom {
        top: 55%;
        width: 150%;
        left: 45%;

    }

    
   
    
}

